<a href="https://colab.research.google.com/github/BcVlad/BcVlad/blob/main/%25D0%259F%25D1%2580%25D0%25B0%25D0%25BA%25D1%2582%25D0%25B8%25D1%2587%25D0%25B5%25D1%2581%25D0%25BA%25D0%25B0%25D1%258F_%25D1%2581%25D1%2582%25D0%25B0%25D1%2582%25D0%25B8%25D1%2581%25D1%2582%25D0%25B8%25D0%25BA%25D0%25B0_%25D0%25B4%25D0%25BB%25D1%258F_%25D1%2581%25D0%25BF%25D0%25B5%25D1%2586%25D0%25B8%25D0%25B0%25D0%25BB%25D0%25B8%25D1%2581%25D1%2582%25D0%25BE%25D0%25B2_Data_Science/%25D0%2593%25D0%25BB%25D0%25B0%25D0%25B2%25D0%25B0%25201.%2520%25D0%25A0%25D0%25B0%25D0%25B7%25D0%25B2%25D0%25B5%25D0%25B4%25D0%25BE%25D1%2587%25D0%25BD%25D1%258B%25D0%25B9%2520%25D0%25B0%25D0%25BD%25D0%25B0%25D0%25BB%25D0%25B8%25D0%25B7%2520%25D0%25B4%25D0%25B0%25D0%25BD%25D0%25BD%25D1%258B%25D1%2585/%D0%93%D0%BB%D0%B0%D0%B2%D0%B0_1_%D0%A0%D0%B0%D0%B7%D0%B2%D0%B5%D0%B4%D0%BE%D1%87%D0%BD%D1%8B%D0%B9_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
R.version.string

[1] "R version 4.0.4 (2021-02-15)"

In [ ]:
R.version.string

[1] "R version 4.0.4 (2021-02-15)"

In [ ]:
2+2

[1] 4

In [ ]:
a = 5

In [ ]:
install.packages('dplyr')
install.packages('tidyr')
install.packages('ggplot2')
install.packages('vioplot')
install.packages('corrplot')
install.packages('descr')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘sm’, ‘zoo’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘xtable’

In [6]:
library('tidyr')
library('ggplot2')
library('vioplot')
library('corrplot')
library('descr')

In [7]:
state <- read.csv("https://raw.githubusercontent.com/BcVlad/books/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0_%D0%B4%D0%BB%D1%8F_%D1%81%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D0%B8%D1%81%D1%82%D0%BE%D0%B2_Data_Science/statistics-for-data-scientists-master-ru/data/state.csv")

In [9]:
head(state)

  State      Population Murder.Rate NA. NA.1                NA.2 Abbreviation
1 Alabama     4779736   5.7         AL  (4.23e+06,7.9e+06]  AL   AL
2 Alaska       710231   5.6         AK  [5.64e+05,4.23e+06] AK   AK
3 Arizona     6392017   4.7         AZ  (4.23e+06,7.9e+06]  AZ   AZ
4 Arkansas    2915918   5.6         AR  [5.64e+05,4.23e+06] AR   AR
5 California 37253956   4.4         CA  (3.36e+07,3.73e+07] CA   CA
6 Colorado    5029196   2.8         CO  (4.23e+06,7.9e+06]  CO   CO